<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="EPEValidation" connectionString="Data Source=LENOVO-NOTEBOOK\SQL2008;Initial Catalog=EPE_Validation_Test;Integrated Security=True"/>
    <!--<add name="EPEValidation" connectionString="Data Source=PC10117020;Initial Catalog=EPE_Validation_Test;Integrated Security=True"/>-->
  </connectionStrings>
</configuration>